@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body {
    margin: 0px;
}

li{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

nav{
    background: white;
    height: 80px;
    width: 100%
}

label.logo{
    font-family: 'Poppins', sans-serif;
    color:rgb(1, 1, 83);
    font-size: 35px;
    line-height: 70px;
    padding-left: 30px;
    font-weight: 550;
}

nav ul{
    float: right;
    margin-right: 20px;
}

nav ul li{
    display: inline-block;
    line-height: 40px;
    padding-left: 10px;
}

nav ul li a{
    color:rgb(1, 1, 83);
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
}

nav li a:link{  
    color:rgb(1, 1, 83);
    text-decoration: none;
    list-style: none;
}

nav li a:hover{
    color: rgb(155, 79, 9);
    text-decoration: underline;
}
nav li a:visited{
   
   text-decoration: underline;

}

.header{
    display: flex;
    background: url("member0Background.png");
    background-size: cover;
    /* background: linear-gradient(rgb(0,0,20), rgb(1, 1, 83)); */
    color: white;
    font-size: 30px;
    font-family:'Poppins', sans-serif;
    align-items: center;
    height: 650px;
}

.gambar{
    position: absolute;
    width: 100%;
    margin-left: 20px;
    top : 150px;
}

.words{
    margin-left: 200px;
    /* width: 50%; */
}

#deskripsi{
    width: 60%;
    text-align: left;
    word-spacing: 5px;
    letter-spacing: 2px;
}

#daftarMembership{
    width:20%;
    font-size: 20px;
    color:rgb(1, 1, 83);
    margin-right: 590px;
    border-radius: 20px;
    padding: 5px;
    font-family: 'Poppins', sans-serif;
    font-weight:600;
    margin-top: 50px;
    margin-bottom: 25px;
    background-color: white;
    transition: 0.5s;
}

#daftarMembership:hover{
    transform: scale(1.2, 1.2);
    cursor: pointer;
}

.tengah{
    margin-top: 50px;
    height: 1300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.judulTengah{
    color: #03134E;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    font-size: 35px;
}

.konten{
    display: flex;
    margin-top: 45px;
    width: 70%;
    font-family: 'Poppins', sans-serif;
    height: 300px;
    border-radius: 50px;
    border: 2px solid #031E7E;
}

.fotokonten{
    height: 80%;
    margin-top: 25px;
    margin-left: 20px;
}

.teks{
    margin-top: 70px;
    margin-left: 50px;
}

.judul{
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 30px;
    color: #001049;
}

.deskripsi{
    color: rgb(3, 19, 78, 0.5);
    font-size: 25px;
}

.expertise{
    margin-top: 100px;
    display: flex;
    font-family: 'Poppins', sans-serif;
    width:100%;
    color : rgb(1, 1, 83);
}

#mengapagolitech{
    text-align: center;
    margin-top: 40px;
}

#terpercaya{
    font-size: 25px;
    font-weight: 600;
    margin-left: 30px;
    margin-bottom: 10px;
}

#isi-1{
    font-size: 20px;
    margin-left: 30px;
    margin-top: 0;
    line-height: 35px;
}

#mengikutitren{
    font-size: 25px;
    font-weight: 600;
    margin-left: auto;
    margin-right: 30px;
    text-align: right;
}

#isi-2{
    font-size: 20px;
    margin-left: auto;
    margin-right: 30px;
    margin-top: 0;
    text-align: right;
    line-height: 35px;
}

#promobaru{
    font-size: 25px;
    font-weight: 600;
    margin-left: 30px;
    margin-bottom: 10px;
}

#isi-3{
    font-size: 20px;
    margin-left: 30px;
    margin-top: 0;
    line-height: 35px;
}

.produk{
    border-right: 2px solid grey;
    width: 50%;
}

.tentang{
    width: 50%;
}

#produkhome {
    font-size: 30px;
    font-weight: 600;
    margin-top: 40px;
    margin-left: 60px;
}

#isi-4{
    font-size: 20px;
    line-height: 30px;
    line-height: 48px;
    margin-left: 60px;
}

#tentanghome {
    font-size: 30px;
    font-weight: 600;
    margin-top: 40px;
    margin-left: 60px;
}

#isi-5{
    font-size: 20px;
    line-height: 30px;
    line-height: 48px;
    margin-left: 60px;
}

.contactus{
    height: 30%;
}

#inginterhubung{
    padding-top: 20px;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
}

.iconcontainer{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.icon{
    width: 55px;
    height: 55px;
    margin-left: 20px;
    margin-right: 20px;
}

.bagianKanan{
    width: 50%;
}

.mengapa{
    border-top:  2px solid grey;
    border-right: 2px solid grey;
    width: 50%;
}

.produkdantentang{
    border-top: 2px solid grey;
    border-bottom: 2px solid grey;
    height: 70%;
    display: flex;
}

.bagianbawah{
    display: flex;
    justify-content: center;
    background: linear-gradient(rgb(0,0,20), rgb(1, 1, 83));
    padding-left: 25px;
    font-size: 20px;
    font-family:'Poppins', sans-serif;
}

.kebijakan{
    color: white;
    margin-left: 15px;
    margin-right: 15px;
}

@media screen and (max-width : 820px){

    .tengah{
        height : 1000px;
    }

    .header{
        height : 300px;
    }

    .words{
        margin-left: 50px;
    }

    #judul{
        margin-left: 0px;
        margin-top: 100px;
        font-weight: 600;
        font-size: 20px;
        color: #001049;
    }
    
    #deskripsi{
        color: rgb(3, 19, 78, 0.5);
        font-size: 15px;
    }

    #daftarMembership{
        width:250px;
        font-size: 20px;
    }

    .judulTengah{
        color: #03134E;
        font-weight: 600;
        font-family: 'Poppins', sans-serif;
        font-size: 30px;
    }

    .konten{
        display: flex;
        margin-top: 30px;
        width: 70%;
        font-family: 'Poppins', sans-serif;
        height: 200px;
        border-radius: 50px;
        border: 2px solid #031E7E;
    }

    .fotokonten{
        margin-top: auto;
        margin-bottom: auto;
        margin-left: 25px;
        height:80%;
    }

    .judul{
        margin-bottom: 20px;
        font-weight: 600;
        font-size: 20px;
        color: #001049;
    }
    
    .deskripsi{
        color: rgb(3, 19, 78, 0.5);
        font-size: 15px;
    }
    .teks{
        margin-top: 30px;
        margin-left: 50px;
    }

        /* FOOTER */
        #mengapagolitech{
            font-size: 23px;
            }
            #terpercaya{
                font-size: 20px;
                font-weight: 600;
                margin-left: 30px;
                margin-bottom: 10px;
            }
            
            #isi-1{
                font-size: 15px;
                margin-left: 30px;
                margin-top: 0;
                line-height: 35px;
            }
            
            #mengikutitren{
                font-size: 20px;
                font-weight: 600;
                margin-left: auto;
                margin-right: 30px;
                text-align: right;
            }
            
            #isi-2{
                font-size: 15px;
                margin-left: auto;
                margin-right: 30px;
                margin-top: 0;
                text-align: right;
                line-height: 35px;
            }
            
            #promobaru{
                font-size: 20px;
                font-weight: 600;
                margin-left: 30px;
                margin-bottom: 10px;
            }
            
            #isi-3{
                font-size: 15px;
                margin-left: 30px;
                margin-top: 0;
                line-height: 35px;
            }
            
            .produk{
                border-right: 2px solid grey;
                width: 50%;
            }
            
            .tentang{
                width: 50%;
            }
            
            #produkhome {
                font-size: 20px;
                font-weight: 600;
                margin-top: 40px;
                margin-left: 60px;
            }
            
            #isi-4{
                font-size: 15px;
                line-height: 30px;
                line-height: 48px;
                margin-left: 60px;
            }
            
            #tentanghome {
                font-size: 20px;
                font-weight: 600;
                margin-top: 40px;
                margin-left: 60px;
            }
            
            #isi-5{
                font-size: 15px;
                line-height: 30px;
                line-height: 48px;
                margin-left: 60px;
            }
            
            .contactus{
                height: 30%;
            }
            
            #inginterhubung{
                padding-top: 20px;
                font-size: 20px;
                font-weight: 600;
                text-align: center;
            }

}